body {
  background-color: #f1f3f4;
  margin: 0;
}
p {
  margin: 0;
}
main {
  padding: 50px;
}
.header {
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 9px -4px #000000;
}
.header > img {
  max-width: 250px;
}
.header a.back {
  text-decoration: none;
  position: absolute;
  color: #7f62e1;
  top: 1.2em;
  left: 1.2em;
}
.header > a > img {
  max-width: 250px;
}
.flex > a {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.flex > a > p {
  margin-left: 10px;
}
.web,
.file {
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 10px;
}
.web {
  background-color: #7f62e1;
  color: #fff;
}
.file {
  background-color: #4ce5d0;
}
